ckpts/CGFormer-Efficient-Swin-SemanticKITTI.ckpt
ckpts/efficientnet-b7_3rdparty_8xb32-aa_in1k_20220119-bf03951c.pth
ckpts/efficientnet-seg-depth.pth
ckpts/swin_tiny_patch4_window7_224.pth
ckpts/logs/output/config.py
ckpts/logs/output/test-profiler.txt.txt
ckpts/logs/output/tensorboard/version_0/events.out.tfevents.1737163910.i6-gpu-1.567312.0
ckpts/logs/output/tensorboard/version_0/hparams.yaml
ckpts/logs/output/tensorboard/version_1/events.out.tfevents.1737170087.i6-gpu-1.569102.0
ckpts/logs/output/tensorboard/version_1/hparams.yaml
main_v2.py
output/config.py
output/csv_logs/version_0/hparams.yaml
output/csv_logs/version_0/metrics.csv
output/csv_logs/version_1/hparams.yaml
output/csv_logs/version_1/metrics.csv
output/tensorboard/version_0/events.out.tfevents.1739038860.i6-gpu-1.4086736.0
output/tensorboard/version_0/hparams.yaml
output/tensorboard/version_1/events.out.tfevents.1739189361.i6-gpu-1.4186403.0
output/tensorboard/version_1/hparams.yaml
