ckpts/CGFormer-Efficient-Swin-SemanticKITTI.ckpt
ckpts/efficientnet-b7_3rdparty_8xb32-aa_in1k_20220119-bf03951c.pth
ckpts/efficientnet-seg-depth.pth
ckpts/swin_tiny_patch4_window7_224.pth
ckpts/logs/output/config.py
ckpts/logs/output/test-profiler.txt.txt
ckpts/logs/output/tensorboard/version_0/events.out.tfevents.1737163910.i6-gpu-1.567312.0
ckpts/logs/output/tensorboard/version_0/hparams.yaml
ckpts/logs/output/tensorboard/version_1/events.out.tfevents.1737170087.i6-gpu-1.569102.0
ckpts/logs/output/tensorboard/version_1/hparams.yaml
main_v2.py
output/config.py
output/csv_logs/version_0/hparams.yaml
output/csv_logs/version_0/metrics.csv
output/csv_logs/version_1/hparams.yaml
output/csv_logs/version_1/metrics.csv
output/tensorboard/version_0/events.out.tfevents.1739038860.i6-gpu-1.4086736.0
output/tensorboard/version_0/hparams.yaml
output/tensorboard/version_1/events.out.tfevents.1739189361.i6-gpu-1.4186403.0
output/tensorboard/version_1/hparams.yaml
output/csv_logs/version_2/hparams.yaml
output/csv_logs/version_2/metrics.csv
output/tensorboard/CGFormer/events.out.tfevents.1707886866.kemove.658129.0
output/tensorboard/version_2/events.out.tfevents.1739306619.i6-gpu-1.147972.0
output/tensorboard/version_2/hparams.yaml
output/csv_logs/version_3/hparams.yaml
output/csv_logs/version_3/metrics.csv
output/tensorboard/plus_conv/events.out.tfevents.1739306619.i6-gpu-1.147972.0
output/tensorboard/plus_conv/hparams.yaml
output/tensorboard/version_3/events.out.tfevents.1739445405.i6-gpu-1.363254.0
output/tensorboard/version_3/hparams.yaml
.gitignore
output_new_version/config.py
output_new_version/ckpts/version_0/epoch_4-mIoU_0.1719.ckpt
output_new_version/ckpts/version_0/epoch_5-mIoU=0.1714.ckpt
output_new_version/ckpts/version_0/epoch_6-mIoU=0.1687.ckpt
output_new_version/ckpts/version_0/mIoU=0.1412.ckpt
output_new_version/ckpts/version_0/mIoU=0.1532.ckpt
output_new_version/ckpts/version_0/mIoU=0.1714.ckpt
output_new_version/ckpts/version_0/mIoU=0.1715.ckpt
output_new_version/csv_logs/version_0/hparams.yaml
output_new_version/csv_logs/version_0/metrics.csv
output_new_version/tensorboard/CGFormer/events.out.tfevents.1707886866.kemove.658129.0
output_new_version/tensorboard/plus_conv/events.out.tfevents.1739306619.i6-gpu-1.147972.0
output_new_version/tensorboard/plus_conv/hparams.yaml
output_new_version/tensorboard/version_0/events.out.tfevents.1739461044.i6-gpu-1.375859.0
output_new_version/tensorboard/version_0/hparams.yaml
